.App {
  font-family: sans-serif;

}
.demo {
  width: 33%;
  margin: 0 auto;
  text-align: center;
  background-color: palevioletred;
  line-height: 1.4;
  padding: 1rem;
}
.todolist {
  list-style-type: none;
  padding: 1em;
}
.to-do {
  display: flex;
  text-align: left;
  background-color: greenyellow;
  padding: 3px;
  margin-bottom: 1rem;
  > a {
    margin-left: auto;
  }
}
